<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>FoodDB</title>

  </head>
  <body>
    <% if (name){%>
      <p>Hi <%= name %></p>
    <% } %>

    <div class="container">
      <% if(foodRec){ %>
        <h1><%= foodRec.meals[0].strMeal %></h1>
        <!-- instead of building another food website, routing user to the actualy
        site of the recipe is more convenient -->
        <p>Please click picture to see recipe</p>
        <a href="<%= foodRec.meals[0].strSource %>" target="_blank">
          <img src="<%= foodRec.meals[0].strMealThumb %>" style="height: 60vh">
        </a>
      <% } %>
    </div>

  </body>
</html>
